<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recordings

    <a data-toggle="collapse" href="#exhibit_recordings_new_form">
      Add recording
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @exhibit.recordings.each do |recording| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to recording, recording %>

        <%= link_to recording, method: :delete, data: { confirm: "Do you really want to delete this recording" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="exhibit_recordings_new_form">
        <%= render partial: "exhibits/exhibit_recordings_new_form" %>
      </div>
    </div>

  </ul>
</div>
