<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Attractions
  </div>

  <ul class="list-group list-group-flush">
    <% @user.attractions.each do |attraction| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/attractions/<%= attraction.id %>">
          <%= attraction %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
