<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Passage
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/requests" class="dropdown-item">
              Requests
            </a>
            <a href="/approval_statuses" class="dropdown-item">
              Approval Statuses
            </a>
            <a href="/visitor_demographics" class="dropdown-item">
              Visitor Demographics
            </a>
            <a href="/attraction_categories" class="dropdown-item">
              Attraction Categories
            </a>
            <a href="/user_types" class="dropdown-item">
              User Types
            </a>
            <a href="/bookmarks" class="dropdown-item">
              Bookmarks
            </a>
            <a href="/exhibit_comments" class="dropdown-item">
              Exhibit Comments
            </a>
            <a href="/exhibits" class="dropdown-item">
              Exhibits
            </a>
            <a href="/recordings" class="dropdown-item">
              Recordings
            </a>
            <a href="/attraction_comments" class="dropdown-item">
              Attraction Comments
            </a>
            <a href="/attractions" class="dropdown-item">
              Attractions
            </a>
            <a href="/users" class="dropdown-item">
              Users
            </a>
          </div>
        </li>
      </ul>
</nav>
