<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @visitor_demographic, partial: "card", as: :visitor_demographic %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
