<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @attraction_category, partial: "card", as: :attraction_category %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "attraction_categories/attraction_category_attractions" %>
  </div>
</div>
  <!-- Show Page Customization end -->
