<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Modification Requests
  </div>

  <ul class="list-group list-group-flush">
    <% @attraction.modification_requests.each do |request| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/requests/<%= request.id %>">
          <%= request %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
