<div id="location_map" style="height: 480px;"></div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @attraction.attraction_location_latitude %>,
        "lng": <%= @attraction.attraction_location_longitude %>,
        "infowindow": "<h5><%= @attraction.created_at %></h5><small><%= @attraction.attraction_location_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>